/** @format */

.WhatWeDo {
  position: relative;
  width: 100%;
  margin-top: 5vw;
}

.WhatWeDo .bgImage {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.WhatWeDo main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}

.WhatWeDo .WhatWeDoContainer {
  padding: 3vw 4vw;
  width: 100%;
  background-image: url("./../../../assets/home/whatWeDo/BG-01.png");
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2vw;
}

.WhatWeDo .WhatWeDoContainer h2 {
  margin: 0 auto;
  text-align: center;
  margin: 2vw;
}

.WhatWeDo .WhatWeDoContainer .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.WhatWeDo .WhatWeDoContainer .singleCard {
  border-radius: 1.5vw;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 25vw;
  background: white;
}

.WhatWeDo .WhatWeDoContainer .singleCard .imgContainer {
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  width: 100%;
  overflow: hidden;
  padding: 1vw;
  height: 270px;
}

.WhatWeDo .WhatWeDoContainer .singleCard .imgContainer img {
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
  transition: all ease 0.2s;
}

.WhatWeDo .WhatWeDoContainer .singleCard .imgContainer img:hover {
  transform: scale(1.1);
}

.WhatWeDo .WhatWeDoContainer .singleCard .content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
  padding-bottom: 2vw;
  text-align: center;
}

.WhatWeDo .WhatWeDoContainer .singleCard .content h3 {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}

.WhatWeDo .WhatWeDoContainer .singleCard .content p {
  font-size: 1.2vw;
}

@media screen and (max-width: 1024px) {
  .WhatWeDo .WhatWeDoContainer .singleCard {
    width: 30vw;
  }
}

@media screen and (max-width: 768px) {
  .WhatWeDo .WhatWeDoContainer .singleCard {
    width: 40vw;
  }
}

@media screen and (max-width: 630px) {
  .WhatWeDo .WhatWeDoContainer {
    background-image: none !important;
  }

  .WhatWeDo .WhatWeDoContainer h2 {
    font-size: 1.5rem;
  }

  .WhatWeDo .WhatWeDoContainer .parent {
    flex-direction: column;
    gap: 2rem;
  }

  .WhatWeDo .WhatWeDoContainer .singleCard {
    width: 80vw;
  }

  .WhatWeDo .WhatWeDoContainer .singleCard .content h3 {
    font-size: 1.5rem;
  }

  .WhatWeDo .WhatWeDoContainer .singleCard .content p {
    font-size: 1rem;
  }
}
